.box{
  width: 180px;
  height: 220px;

  background-color: aquamarine;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
}

.box h1{
  font-size: 28px;
  margin-bottom: 20px;
}

.box h2{
  font-size: 18px;
}